<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Index Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		
		<a href="/logout">Logout</a>
		<form method="post" action="/logout" target="_self">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<!-- <input type="submit" value="Logout Form" style="margin: 8px 0px;"/>  -->
			<button class="" type="submit">Log Out?</button>
		</form>
		
		<form  method="post" target="_self" action="/logout">
			<h2 class="">Are you sure you want to log out? - Juancho</h2>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<button class="" type="submit">Log Out</button>
		</form>
	
		<p th:text="${message}">text</p>
		<p th:if="${jwt != null}">YOU HAVE A JWT TOKEN</p>
	</body>
</html>
